@model InventoryManagementSystem.Models.RequestItem

@{
    ViewData["Title"] = "Request Details";
}


<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Request Item</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card-style mb-30 row">
        <div class="input-style-1 mb-2 col-4">
            <label>Item Code</label>
            <input value="@Model.Item?.KodeItem" placeholder="Kode Item" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>User Email</label>
            <input value="@Model.User?.Email" placeholder="Nama Item" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>Created At</label>
            <input asp-for="CreateAt" placeholder="Deskripsi" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="RequestBorrowDate">Request Borrow Date</label>
            <input asp-for="RequestBorrowDate" placeholder="Request Borrow Date" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="RequestDueDate">Request Due Date</label>
            <input asp-for="RequestDueDate" placeholder="Request Due Date" readonly />
        </div>

        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Status">Status</label>
            <input asp-for="Status" placeholder="Status" readonly />
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>Note Request from User</label>
            <textarea asp-for="NoteRequest" placeholder="NoteRequest" readonly></textarea>
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label>Reject Reason</label>
            <textarea asp-for="NoteActionRequest" readonly></textarea>
        </div>
        <div class="input-style-1 col-4 mb-4 mt-4 col-12">
            <label class="mb-2 control-label">Preview Image</label><br>
            <img id="pictureOutput" src="~/uploads/@Model.Item?.PicturePath" alt="" style="width: 200px;" />
        </div>
        <div class="col-12 mt-2 d-flex gap-2">
            <a asp-action="Index" type="button" class="main-btn primary-btn rounde-sm btn-hover">Kembali</a>
        </div>
    </div>
</div>
