@page
@model RegisterModel

<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        text-align: center;
        padding: 50px;

    }

    h2 {
        text-align: center
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: white;
        border-radius: 10px;
        padding: 10px;
        transition: top 0.3s ease, font-size 0.3s ease;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    }

    .text_field {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
        transition: top 0.3s ease, font-size 0.3s ease;
    }

    .my-button {
        background-color: #045de9;
        background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        width: 100%;
        height: 60%;
    }

    form#registerForm {
        margin-top: 50px;
        /* Add some margin from the top */
        margin-bottom: 20px;
        /* Add some margin from the bottom */
        padding-top: 20px;
        /* Add some padding from the top */
        padding-bottom: 20px;
        /* Add some padding from the bottom */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 50%;
    }

    .form-heading {
        grid-column: 1/-1;
        text-align: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

@{
    ViewData["Title"] = "";
}

<body>
    <h1>@ViewData["Title"]</h1>

    <div class="row d-flex align-items-center justify-content-center">
        <div class="container">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="center">
                 <div style="display:flex ; grid-column:1/-1;justify-content: center">
                    <img class="me-4" src="~/images/logo/logo.png"
                        style="width:100px; margin:0 !important;border:none;">
                </div>
                <h2 class="form-heading">Create a new account.</h2>
               
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.IdEmployee" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="Employee Code" />
                    <label asp-for="Input.IdEmployee">Employee Code</label>
                    <span asp-validation-for="Input.IdEmployee" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="First Name" />
                    <label asp-for="Input.FirstName">First Name</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="Last Name" />
                    <label asp-for="Input.LastName">Last Name</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="Email" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="your phone number ex: 0815.."
                        aria-required="true" placeholder="Phone Number" />
                    <label asp-for="Input.PhoneNumber">Phone Number</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                        aria-required="true" placeholder="Password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                        aria-required="true" placeholder="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="my-button">Register</button>
            </form>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
