@{
  ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">



  <head>
    <style>
      .card-style {
        height: 100vh;
        display: flex;
      }

      .single-notification {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
   
    .single-notification {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="card-style">
    <div class="single-notification">
      <div class="checkbox">
        <div class="form-check checkbox-style mb-500">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-1" />
        </div>
      </div>
      <a href="#0" class="content">
        <h1>Inventory Management System</h1>
        <h1>Selamat datang. Aplikasi ini diharapkan dapat membantu admin dalam manajemen barang di area perusahaan</h1><br>
        <h1>Selamat datang. Aplikasi ini diharapkan dapat membantu admin dalam manajemen barang di area perusahaan</h1><br>
        <span class="text-sm text-medium text-gray">25 min ago</span>
      </a>
    </div>
  </div>
</body>
</html>





