@model InventoryManagementSystem.Models.SubCategory

@{
    ViewData["Title"] = "Create Subcategory";
}

<div class="container-fluid">
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#0">Subcategies</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.Title
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Create" enctype="multipart/form-data">
    <div class="card-style mb-30 row">
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="SubCategoryCode"></label>
            <input asp-for="SubCategoryCode" placeholder="Subcategory Code"/>
            <span asp-validation-for="SubCategoryCode" class="text-danger"></span>
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="SubCategoryName"></label>
            <input asp-for="SubCategoryName" placeholder="Subcategory name" />
            <span asp-validation-for="SubCategoryName" class="text-danger"></span>
        </div>
        <div class="input-style -1 mb-2 col-4">
            <label asp-for="Category"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
            <option value="">-- Select Category --</option>
            </select>
        </div>
        <div class="input-style-1 mb-2 col-4">
            <label asp-for="Description"></label>
            <input asp-for="Description" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="main-btn success-btn rounde-sm btn-hover" />
        </div>
        <div class="col-12 mt-2 d-flex gap-2">
            <a asp-action="Index" type="button" class="main-btn primary-btn rounde-sm btn-hover">Back To List</a>
        </div>
    </div>
    </form>
</div>


@* 
<h1>Create</h1>

<h4>SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubCategoryCode" class="control-label"></label>
                <input asp-for="SubCategoryCode" class="form-control" />
                <span asp-validation-for="SubCategoryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryName" class="control-label"></label>
                <input asp-for="SubCategoryName" class="form-control" />
                <span asp-validation-for="SubCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
